# use as whitelist
*
!*/
!/.gitignore

# config
!/config/gtceu.yaml

# mods
!/mods/trailsandnails*
!/mods/better-end*
!/mods/better-nether*
!/mods/bclib*
!/mods/VMod*

# whitelist entire mods folder until i figure out how to use minecraftinstance.json
#!/mods/**